<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Money Transfer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Ajax -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="row header">
			<h1>Money Transfer</h1>
		</div>
		<div class="row body">
			<form action="#" th:action="@{/transfer}" th:object="${transfer}" method="post">
				<ul>
					<li>
						<div>
							<p class="left">
								<label for="account_number">Receiver's A/C Number</label> <small><input type="text"
									th:field="*{accountNumber}" name="account_number" placeholder="Account Number" /></small> <br>
							</p>
						</div>
						<div>
							<p class="left">
								<label for="sender_account_number">Sender's A/C Number</label> <small><input
									th:field="*{senderNumber}" type="text" name="sender_account_number"
									placeholder="Sender's Account Number" /></small> <br>
							</p>
						</div>
						<div>
							<p class="left">
								<label for="amount">Transfer Amount</label> <small><input type="text" name="amount"
									th:field="*{amount}" placeholder="Transfer Amount" /></small> <br>
							</p>
						</div>
					</li>
					<li><input class="btn btn-submit" type="submit" value="Submit" id="btn-submit" /></li>
				</ul>
			</form>
		</div>
	</div>
	
	<script src="js/jquery.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootbox.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
